# Requirements for Barcode Printer
# Core GUI and theme
sv-ttk>=2.0.0

# Image processing and barcode generation
Pillow>=9.5.0
python-barcode>=0.14.0

# Windows-specific libraries
pywin32>=306

# Windows styling (for title bar theming)
pywinstyles>=1.0.0

#pyinstaller for packaging the application
pyinstaller>=6.19.0